@font-face {
    font-family: font1;
    src: url(/font/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: font2;
    src: url(/font/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: font3;
    src: url(/font/Better\ Together\ Spaced.ttf);
}

@font-face {
    font-family: font4;
    src: url(/font/CurlyStars.ttf);
}

@font-face {
    font-family: font5;
    src: url(/font/Puasa\ Ramadhan.otf);
}

body {
    background-color: hsl(30, 38%, 92%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    margin: 170px auto;
    width: 575px;
    height: 450px;
    border-radius: 10px;
}

.image {
    height: 450px;
}

.img {
    max-width: 100%;
    width: 1000px;
    height: inherit;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text {
    padding: 5px 20px;
}

.header {
    font-size: 38px;
    font-family: font3;
    color: hsl(228, 12%, 48%);
    margin-bottom: 5px;
}

h3 {
    font-family: font1;
    font-weight: 1000;
    margin-top: 0;
    margin-bottom: 5px;
}

.fp {
    font-family: font2;
    font-size: 30px;
    font-weight: 700;
    margin-right: 15px;
    color: hsl(158, 36%, 37%);
}

.sp {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: hsl(228, 12%, 48%);
    ;
    text-decoration: line-through;
    padding-top: 4px;

}

p {
    font-size: 1.1rem;
    font-family: font1;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    margin-top: 10px;

}

h3 {
    font-size: 2.0rem;
}

.price {
    display: flex;
    margin-bottom: 20px;

}

.botton {
    text-align: center;

}

.botton1 {
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 15px 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 5px none hsl(158, 36%, 37%);
    border-radius: 10px;
}

.chart {
    width: 20px;
    margin-right: 5px;
}

@media screen and (max-width: 620px) {
    .container {
        display: inline-table;
        width: 100%;
        margin-top: 20px;

    }

    .img {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        height: 95%;
    }

    .header {
        margin-bottom: 15px;
        margin-top: 5px;
    }
}